<html style="background-color: #251142;">
<head>
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
	<body>
		<br>
		<br>
		<div style="margin: auto;">
		<h1 style="font-family: 'Josefin Sans', sans-serif; color: white; margin-left:400px">Welcome to Expresso!</h1>
	</div>
	<div style="margin: auto;">
		<img src="../static/coffee.png" style="height: 300px; width: 300px; margin-left:400px"/>
	</div>
		<br>
		<h3 style="font-family: 'Josefin Sans', sans-serif; color: white;margin-left:200px">The platform that brings together people from different backgrounds to have a conversation.</h3>
		<br>
	<div style="margin: auto;">
		<a href="/name"><input type="submit" class="proceed" value="Lets get brewing!" style="margin-left:500px;"/></a>
	</div>
	</body>
</html>
