<!DOCTYPE html>
<html style="background-color: #251142;">
<head>
</head>

<body>
	<p style="color:white;">Waiting...</p>
	<script>
		var xhr1 = new XMLHttpRequest();
		xhr1.onload = function() {
			var response = xhr1.response;
			if (response == "yes") {
				clearInterval(interval);
				window.location.href = '/meetup';
			} // else do nothing
		var interval = setInterval(
							function() {
								xhr1.open('GET','/result',true);
								xhr1.send();
							}, 3000);
		}
	</script>
</body>
</html>
